<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  
  <appSettings>

    <!-- Set these to when proclaim is availbale for case import -->
    <add key="ProcessingHoursStart" value="01:00" />
    <add key="ProcessingHoursEnd" value="23:00" />

    <!-- Number of cases to get from the main CSB file to import into Proclaim each time -->
    <add key="NumberOfCasesForEachImport" value="10" />

    <add key="SourceCSVFile_Folder" value="\\techedia-dc\shares\Proclaim\Client Connection Details\MoneyPlus Legal Limited\Plevin Process\Liberay\VSCaseImport\SourceCSVFIle\" />
    <add key="SourceCSVFile_FileName" value="Outstanding Matters 14.03.23.csv" />

    <add key="SourceCSVFile_BackupFolder" value="\\techedia-dc\shares\Proclaim\Client Connection Details\MoneyPlus Legal Limited\Plevin Process\Liberay\VSCaseImport\SourceCSVFIle\Backups\" />

    <add key="NewCaseImportFolderPath_1" value="\\techedia-dc\shares\Proclaim\Client Connection Details\MoneyPlus Legal Limited\Plevin Process\Liberay\VSCaseImport\NewCaseImportFolder_1\" />

    <add key="NewCaseImportFolderPath_2" value="\\techedia-dc\shares\Proclaim\Client Connection Details\MoneyPlus Legal Limited\Plevin Process\Liberay\VSCaseImport\NewCaseImportFolder_2\"/>

  </appSettings>
  
  
</configuration>